frontend/node_modules
frontend/dist
**/target
**/nbactions.xml
**/nb-configuration.xml
backend/src/main/webapp
!backend/src/main/webapp/WEB-INF
**/fuseki-db
**/run
.idea
backend/.idea
backend/proxy-service.iml
