frontend/node_modules
frontend/dist
**/target
**/nbactions.xml
**/nb-configuration.xml
proxy-service/src/main/webapp
!proxy-service/src/main/webapp/WEB-INF
**/fuseki-db
**/run
.idea
proxy-service/.idea
proxy-service/proxy-service.iml
